.links
{
 
    position: absolute;
    outline: none;
    text-align: right;
    top: 30%;
    right: 5pt;
}
.maintext
{

    right: 45%;
    top: 45%;
    outline: none;
}
.righttext
{
    top: 45%;
    outline: none;
}
.wtext
{
    width: 10%;
    left: 10px;
    text-align: right;
    position: absolute;
    float: left;
    background-color: white;
    top: 45%;
}
.text2
{
    position: absolute;
    right: 10px;
    top: 45%;
    outline: none;
}